* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
    background-image: url(bg\ blog.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background-color: rgba(255, 255, 255, 0.168);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #ffffff; 
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
}

.navbar a:hover:before {
    width: 100%;
}

main.blog-section {
    flex: 1;
    padding: 40px 60px;
    justify-content: center;
}

.subtitle {
    color: #fefefede;
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: center;
}

.blog-section h1 {
    text-align: center;
    font-size: 400%;
}

.blog-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 280px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: left;
}

.card h3 {
    margin: -5%;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #444;
    margin: 10px 0;
}

.card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
}

.blog-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.card:hover .blog-image {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    width: 100%;
}
